&, &::before, &::after {
	box-sizing: border-box;
}

body {
	background: #FAFAFA;
}

.template {
	text-align: center;
	max-width: 980px;
	margin: auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.template-header {
	font-size: 48px;
	padding: 30px;
	margin: 0;
	font-weight: 100;
	color: #000;
	text-decoration: none;
}
.template-header:hover {
	color: #999;
}

.template-footer {
	padding-top: 50px;
	font-size: 13px;
	color: #999;
}


.home-message {
	margin-bottom: 30px;
}

.home-links-link {
	display: block;
	color: #44B;
	text-decoration: none;
	margin-bottom: 10px;
}
.home-links-link:hover {
	color: #44E;
}



.about-picture {
	width: 160px;
	height: 160px;
	border-radius: 100%;
	margin-bottom: 20px;
}

.about-message {
	margin-bottom: 20px;
}

.about-link {
	padding: 2px 8px;
	color: #44B;
	text-decoration: none;
}
.about-link:hover {
	color: #44E;
}
