<div class="about">
	<img class="about-picture" src="<%= picture %>"/>
	<p class="about-message">
		Lookit' this handsome feller
	</p>
	<a class="about-link" href="https://twitter.com/<%= twitter %>">Twitter</a>
	<a class="about-link" href="https://github.com/<%= github %>">Github</a>
</div>
