<div class="home">
	<p class="home-message">
		Welcome to my site! You can find the following stuff here:
	</p>
	<ul class="home-links">
		<% for (let i = 0; i < links.length; i++) { %>
			<a class="home-links-link" href="<%= links[i].href %>">
				<%= links[i].text %>
			</a>
		<% } %>
	</ul>
</div>
