<style>
	form {
		width: 220px;
		margin: 100px auto;
	}

	input {
		width: 100%;
		border-radius: 4px;
		border: 1px solid #AAA;
		margin-bottom: 10px;
		height: 48px;
		line-height: 48px;
		font-size: 18px;
		padding: 4px 8px;
	}

	button {
		width: 120px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		background: #4c6dca;
		color: white;
		border: none;
		border-radius: 4px;
		margin: 0 auto;
		display: block;
	}

	.error {
		display: block;
		padding: 8px 5px;
		background: red;
		font-size: 13px;
		color: #FFF;
		margin-bottom: 10px;
		border-radius: 4px;
	}
</style>

<form action="/forms/login" method="post">
	<% if (error) { %>
		<div class="error"><%- error %></div>
	<% } %>

	<input name="username" type="text" placeholder="username"/>
	<input name="password" type="password" placeholder="password"/>
	<button formmethod="post">
		Submit
	</button>
</form>
